html{
    height: 100%; /* This will allow h100 classes in vertical centering to work */
}

body{
    background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

/* from Bulma(css framework) this will ensure that whenever fontawesome is used it will
 always stay perfectly centered and have a consistent size unless manually changed */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* logo class is being used throughout site to maintain consistency with uppercase font of the logo */
.logo-font {
    text-transform: uppercase;
}

/* this will make sure that logo only takes up as much space as text requires */
.main-logo-link {
    width: fit-content;
}

/* these are buttons */
.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

/* text colouring */
.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black{
    background: #000 !important;
}

/*This will be 100% height and width div. Fixed at the top-left screen. 
with white background and -1 z-index so it sits behind all the content*/
.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* this will fix mobile layout of products page for empty div by
 pushing the top of the page down to the bottom of the main site header,
  it happened because the upper media query is made for medium and larger screens */

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}